<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-brand">
        <a href="/" class="footer-logo">
          <img src="/assets/img/icon.png" alt="KvoLib" width="20" height="20" />
          <span>KvoLib</span>
        </a>
        <p>Build beautiful interfaces faster.</p>
      </div>
      <div class="footer-links">
        <h4>Product</h4>
        <ul>
          <li><a href="/components.html">Components</a></li>
          <li><a href="/template.html">Templates</a></li>
          <li><a href="/changelog.html">Changelog</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Resources</h4>
        <ul>
          <li><a href="/template.html">Getting Started</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>Company</h4>
        <ul>
          <li><a href="https://kvorys.vercel.app" target="_blank">About</a></li>
          <li>
            <a href="https://github.com/Kvoryz" target="_blank">GitHub</a>
          </li>
          <li>
            <a href="https://www.instagram.com/_kvory" target="_blank"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2026 KvoLib. All rights reserved.</p>
    </div>
  </div>
</footer>
